<p id="notice"><%= notice %></p> 

<p>
  <strong>Nombre del grupo:</strong>
  <%= @group.nombre %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @group.sexo %>
</p>

<p>
  <strong>Cupo:</strong>
  <%= @group.quota %>
</p>

<p>
  <strong>Cupo extra:</strong>
  <%= @group.extended_quota %>
</p>

<p>
  <strong>Edad mínima:</strong>
  <%= @group.initial_age %>
</p>

<p>
  <strong>Edad máxima:</strong>
  <%= @group.maximun_age %>
</p>

<%= link_to 'Editar', edit_group_path(@group), class: "btn btn-default" if current_user.is_admin? %> |
<%= link_to 'Volver', :back, class: "btn btn-default"   %>
<%= link_to 'Lista grupos', groups_path, class: "btn btn-default"  %>
