<p id="notice"><%= notice %></p>

<p>
  <strong>Colonist name:</strong>
  <%= @registration.colonist_name %>
</p>

<p>
  <strong>Colonist age:</strong>
  <%= @registration.colonist_age %>
</p>

<p>
  <strong>Colonist birtday:</strong>
  <%= @registration.colonist_birtday %>
</p>

<p>
  <strong>Colonist dni:</strong>
  <%= @registration.colonist_dni %>
</p>

<p>
  <strong>Colonist address:</strong>
  <%= @registration.colonist_address %>
</p>

<p>
  <strong>Colonist telephone:</strong>
  <%= @registration.colonist_telephone %>
</p>

<p>
  <strong>Colonist email:</strong>
  <%= @registration.colonist_email %>
</p>

<p>
  <strong>Colonist school name:</strong>
  <%= @registration.colonist_school_name %>
</p>

<p>
  <strong>Colonist grade:</strong>
  <%= @registration.colonist_grade %>
</p>

<p>
  <strong>Colonist school address:</strong>
  <%= @registration.colonist_school_address %>
</p>

<p>
  <strong>Colonist school phone:</strong>
  <%= @registration.colonist_school_phone %>
</p>

<p>
  <strong>Colonist medical insurance:</strong>
  <%= @registration.colonist_medical_insurance %>
</p>

<p>
  <strong>Colonist trauma:</strong>
  <%= @registration.colonist_trauma %>
</p>

<p>
  <strong>Colonist surgery:</strong>
  <%= @registration.colonist_surgery %>
</p>

<p>
  <strong>Colonist illness asthma:</strong>
  <%= @registration.colonist_illness_asthma %>
</p>

<p>
  <strong>Colonist illness allergy:</strong>
  <%= @registration.colonist_illness_allergy %>
</p>

<p>
  <strong>Colonist illness heart failure:</strong>
  <%= @registration.colonist_illness_heart_failure %>
</p>

<p>
  <strong>Colonist illness diabetes:</strong>
  <%= @registration.colonist_illness_diabetes %>
</p>

<p>
  <strong>Colonist illness other:</strong>
  <%= @registration.colonist_illness_other %>
</p>

<p>
  <strong>Colonist medical observation:</strong>
  <%= @registration.colonist_medical_observation %>
</p>

<p>
  <strong>Colonist doctor:</strong>
  <%= @registration.colonist_doctor %>
</p>

<p>
  <strong>Colonist know swim:</strong>
  <%= @registration.colonist_know_swim %>
</p>

<p>
  <strong>Colonist swim school:</strong>
  <%= @registration.colonist_swim_school %>
</p>

<p>
  <strong>Colonist swim leave reasons:</strong>
  <%= @registration.colonist_swim_leave_reasons %>
</p>

<p>
  <strong>How know us:</strong>
  <%= @registration.how_know_us %>
</p>

<p>
  <strong>Parents relation:</strong>
  <%= @registration.parents_relation %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @registration.father_name %>
</p>

<p>
  <strong>Father age:</strong>
  <%= @registration.father_age %>
</p>

<p>
  <strong>Father lives:</strong>
  <%= @registration.father_lives %>
</p>

<p>
  <strong>Father visit:</strong>
  <%= @registration.father_visit %>
</p>

<p>
  <strong>Father address:</strong>
  <%= @registration.father_address %>
</p>

<p>
  <strong>Father profession:</strong>
  <%= @registration.father_profession %>
</p>

<p>
  <strong>Father work phone:</strong>
  <%= @registration.father_work_phone %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @registration.mother_name %>
</p>

<p>
  <strong>Mother age:</strong>
  <%= @registration.mother_age %>
</p>

<p>
  <strong>Mother lives:</strong>
  <%= @registration.mother_lives %>
</p>

<p>
  <strong>Mother visit:</strong>
  <%= @registration.mother_visit %>
</p>

<p>
  <strong>Mother address:</strong>
  <%= @registration.mother_address %>
</p>

<p>
  <strong>Mother profession:</strong>
  <%= @registration.mother_profession %>
</p>

<p>
  <strong>Mother work phone:</strong>
  <%= @registration.mother_work_phone %>
</p>

<p>
  <strong>Who register:</strong>
  <%= @registration.who_register %>
</p>

<p>
  <strong>I attest:</strong>
  <%= @registration.i_attest %>
</p>

<p>
  <strong>Group:</strong>
  <%= @registration.group %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
